
.PhoneInput{
    min-height: 52px;
    height: 52px;
    margin-top: 16px;
}
.PhoneInput input{
    height: 100%;
    border-radius: 35px;
    background: transparent;
    border: solid 1px #5C7F87;

}
.PhoneInput .PhoneInputCountry{
    background: #00303F !important;
    border-radius: 35px;
    width: 167px;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.PhoneInput input:focus{
outline: none;
}
.PhoneInput input{
    padding-left: 10px;
}
.PhoneInputCountryIcon{
    height: 22px;
    width: 34px;
}
.PhoneInputCountryIcon svg{
    height: 100%;
    width: 100%;
    fill: #fff;
    stroke: #fff;
}
.PhoneInputCountrySelectArrow{
    border-color: #fff;
    border-bottom-width: 4px;
    border-right-width:4px;
    display:none
}