.ql-toolbar {
    background: white !important;
}
.ql-container.ql-snow {
    height: 302px;
    border: 1.5px solid #5C7F87;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ql-editor {
    min-height: 320 !important;
    background: #F0FAFC;
    border-radius: 5px;
    font-family: poppins;
}
.ql-toolbar.ql-snow {
    border: 1.5px solid #5C7F87;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}